*{
    --cor-principal: #FFCA0C;
    --text-color: #57573D;
    box-sizing: border-box;
    align-items: center;
}

.navbar{
    background-color: var(--cor-principal);
    padding: 1.2rem 0 1.2rem 0;
}

.navbar-toggler{
    background-color: white;
}

.img-logo{
    width: 200px;
    margin: 0 1rem;
}

.nav-style{
    color: var(--text-color);
    margin: 0 1rem;
    font-size: 1.2rem;
}

.padding{
    padding: 12em 2rem 6rem 2rem;
}

.banner-info{
    background-color: var(--cor-principal);
    color: var(--text-color);
    font-size: 1.2rem;
}

.title{
    font-size: 2.7rem;
    padding: 0 2rem 4rem 0;
}

.text{
    font-size: 1.3rem;
}

.form{
    background-color:rgb(31, 31, 31);
    border-radius: 15px;
    opacity: 0.92;
    padding: 4rem 0;
    color: white;
    margin: 0 1rem;
}

.form-control{
    background-color: transparent;
    border: 1px solid white;
    height: 45px;
    color:white;
}

a, a:hover, a:active{
    color:white;
}

.bt{
    width: 100%;
    height: auto;
    background-color: #BE4233;
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 0.5rem;
}

.card-img{
    height: 110px;
    width: 110px;
    padding: 0.5rem;
    justify-content: center;
}

.container-profissionais{
    background-color: #343A40;
}

.img-profissional{
    max-height: 400px;
    width: auto;
    border-radius: 25px;
}

.container-opiniao{
    background-color: #1D222C;
    color: white;
}

.container-empresas{
    padding: 5rem rem;
}

.img-empresa{
    max-height: 150px;
    max-width: 150px;
}

.contianer-tecnologias{
    align-items: baseline;
}

.footer{
    background-color: #343A40;
}

.card{
    background-color: white;
    opacity: 0.8;
    color: black;
    border-radius: 15px;
}

.subtitle{
    font-size: 2.3rem;
    padding: 3rem 0 4rem 1rem;
}