*{
    --cor-principal: #FFCA0C;
    --text-color: #57573D;
    box-sizing: border-box;
    align-items: center;
    transition: 0.5s ease;
}

.navbar{
    background-color: var(--cor-principal);
    padding: 1.2rem 0 1.2rem 0;
}

.navbar-toggler{
    background-color: white;
}

.img-logo{
    width: 200px;
    margin: 0 1rem;
}

.nav-style{
    color: var(--text-color);
    margin: 0 1rem;
    font-size: 1.2rem;
}

.padding{
    padding: 10rem 1.2rem 4rem 1.2rem;
}

.banner-info{
    background-color: var(--cor-principal);
    color: var(--text-color);
    font-size: 1.2rem;
}

.title{
    font-size: 2.7rem;
    padding: 0 2rem 4rem 0;
}

.text{
    font-size: 1.3rem;
}

.small-text{
    font-size: 0.8rem;
}

.form{
    background-color:rgb(31, 31, 31);
    border-radius: 15px;
    opacity: 0.92;
    padding: 3rem 0;
    color: white;
}

.form-control{
    background-color: transparent;
    border: 1px solid white;
    height: 45px;
    color:white;
}

a, a:hover, a:active{
    color:white;
}

.button-login{
    width: 100%;
    height: auto;
    background-color: #BE4233;
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 0.5rem;
}

.button-login:hover{
    background-color: #a0392e;
    color: white;
}

.card-img{
    height: 110px;
    width: 110px;
}

.container-profissionais{
    background-color: #343A40;
}

.container-opiniao{
    background-color: #1D222C;
    color: white;
}

.container-empresas{
    padding: 5rem rem;
}

.img-empresa{
    max-height: 150px;
    max-width: 150px;
}

.contianer-tecnologias{
    align-items: baseline;
}

.button-cadastro{
    background-color:#BE4233;  
    font-size: 1.3rem; 
    border-radius: 10px; 
    padding: 0.7rem; 
    margin-bottom: 2rem;
}

.footer{
    background-color: #343A40;
}

.card{
    background-color: white;
    opacity: 0.8;
    color: black;
    border-radius: 15px;
    min-height: 226px;
    justify-content: center;
}

.subtitle{
    font-size: 2.3rem;
    padding: 2rem 0.5rem;
}

.social-media{
    color: white;
    font-size: 1.3rem;
}

.icon{
    cursor: pointer;
}

.icon:hover{
    color: #FFCA0C;
}